:root {

  /* Variaveis de cores */
  --primary-color: hsl(170, 100%, 26%);
  font-size: 62.5%;
}

body {
  font-family: "DM Sans";
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
  color: var(--primary-color);
}

h1 {
  font-size: 3.4rem;
}

p {
  font-size: 1.8rem;
}